<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card rounded">
            <div class="card-header">
                <h3>Edit Customer Data</h3>
            </div>
            <div class="card-body">
                <form class="form" #f="ngForm">
                    <div class="form-group">
                    <label>FirstName</label>
                    <input [(ngModel)]="customerdata.firstName" name="firstname" type="text" class="form-control "required>
                    </div>
                    <div class="form-group">
                        <label>LastName</label>
                        <input [(ngModel)]="customerdata.lastName" name="lastname" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input [(ngModel)]="customerdata.address" name="address" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input [(ngModel)]="customerdata.city" name="city" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <input [(ngModel)]="customerdata.state" name="state" type="text" class="form-control" required>
                    </div>
                    <div class="button">
                    <button (click)="onaddCustomerData()" type="button" >Delete</button>
                    </div>
                    <button (click)="onaddCustomerData()" type="button" >Cancel</button>
                    <button [disabled]="!f.valid"(click)="onaddCustomerData()" type="button" >Update</button>
                    
                    

                </form>
            </div>
            <div class="card-footer">
                created by @charan
            </div>
        </div>
    </div>
</div>
